@media (max-width: 768px) {
  #docsSearch h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
  }

  #searchBar {
    padding: 32px 0 64px 0 !important;
  }

  #categoryHead h1 {
    font-family: "THICCCBOI";
    font-size: 32px;
    font-weight: 700;
    line-height: 36.9px;
  }

  #mainNav .btn.btn-navbar {
    right: 0;
    margin-right: unset;
  }

  #mainNav .icon-bar {
    background: #000;
  }

  #mainNav .container-fluid {
    height: unset;
  }

  /* Category Page */
  #sidebar {
    margin-top: 20px;
    padding-bottom: 20px;
    border-top: 1.5px solid #ededed;
  }

  #contentArea {
    & #main-content {
      .contentWrapper {
        border: unset;
        padding: 32px 20px 0 20px;

        .articleList {
          padding-bottom: 8px;
          border-bottom: 1px solid #ededed;
        }

        .articleFoot {
          display: flex;
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;
          gap: 8px;

          p {
            font-family: unset;
            color: #1c1b1f;
            font-style: normal;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.25px;

            a {
              color: #1c1b1f;
            }
          }

          time {
            font-family: unset;
            color: #1c1b1f;
            font-style: normal;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.25px;
          }
        }

        #fullArticle {
          h1.title {
            color: #1c1b1f;
            font-family: THICCCBOI;
            font-size: 32px;
            font-weight: 700;
            line-height: 36.9px;
          }
          h2 {
            font-family: THICCCBOI;
            font-size: 24px;
            font-weight: 700;
            line-height: 27.67px;
            text-align: left;
          }
        }
      }

      .related {
        padding: 28px 20px 28px 0;
      }
    }
  }
}

@media (min-width: 768px) {
  #mainNav .container-fluid {
    height: 60px;
  }

  #contentArea {
    & #main-content {
      .contentWrapper {
        border: unset;
        padding: 0 20px;

        #fullArticle {
          h1.title {
            color: #1c1b1f;
            font-family: THICCCBOI;
            font-size: 48px;
            font-weight: 700;
            line-height: 55.34px;
            text-align: left;
          }
          h2 {
            font-family: THICCCBOI;
            font-size: 32px;
            font-weight: 700;
            line-height: 36.9px;
            text-align: left;
          }
        }
      }

      .related {
        padding: 32px 20px 25px 20px;
        border: unset;
      }
    }
  }

  #categoryHead h1 {
    font-family: "THICCCBOI";
    font-size: 64px;
    font-weight: 700;
    line-height: 68px;
  }
}

@media (min-width: 769px) {
  #docsSearch h1 {
    font-size: 57px;
    font-weight: 500;
    line-height: 64px;
    margin-top: 100px !important;
  }
}

@media (max-width: 768px) and (max-width: 600px) {
  #contentArea .category-list .category,
  .category-list.two-col .category {
    margin: 0 0.8% 20px 0.8%;
  }
}
